@model List<InquiryModel>

@{
    #pragma warning disable CS8602
    ViewData["Title"] = "Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard/dashboard@(Minified()).css" asp-append-version="true" />
}

<header>
    <h1>Welcome @User.Identity.Name!</h1>
    <a asp-controller="User" asp-action="Logout" class="btn btn-danger">Logout</a>
</header>
@if(Model.Count > 0)
{
    <div class="table-container">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Type</th>
                    <th scope="col">Details</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (InquiryModel inquiry in Model)
                {
                    <tr>
                        <td><span class="@(inquiry.Status == Status.Unresolved ? "unresolved" : "resolved")">@inquiry.Status</span></td>
                        <td><span>@inquiry.Name</span></td>
                        <td><span><a href="mailto:@inquiry.Email">@inquiry.Email</a></span></td>
                        <td><span>@inquiry.Type</span></td>
                        <td><span>@inquiry.Details</span></td>
                        <td>
                            <a asp-controller="Dashboard" asp-action="ViewOne" asp-route-id="@inquiry.Id" class="btn btn-outline-primary">View</a>
                            @if (inquiry.Status == Status.Unresolved)
                            {
                                <a asp-controller="Dashboard" asp-action="Resolve" asp-route-id="@inquiry.Id" asp-route-redirect="Dashboard" class="btn btn-outline-success">Resolve</a>
                            }
                            else
                            {
                                <a asp-controller="Dashboard" asp-action="Delete" asp-route-id="@inquiry.Id" asp-route-errorRedirect="Dashboard" class="btn btn-outline-danger">Delete</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="no-results">
        <h2>You have no inquiries at this time</h2>
    </div>
}