@model List<InquiryModel>

@{
    ViewData["Title"] = "Dashboard";
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
}

<div class="header">
    <h1>Welcome @User.Identity.Name</h1>
    <a asp-controller="User" asp-action="Logout" class="btn btn-danger">Logout</a>
</div>
@if(Model.Count > 0)
{    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
                <th scope="col">Details</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (InquiryModel inquiry in Model)
            {
                <tr>
                    @if (inquiry.Status == "Unresolved")
                    {
                        <td class="unresolved">@inquiry.Status</td>
                    }
                    @if (inquiry.Status == "Resolved")
                    {
                        <td class="resolved">@inquiry.Status</td>
                    }
                    <td>@inquiry.Name</td>
                    <td><a href="mailto:@inquiry.Email">@inquiry.Email</a></td>
                    <td>@inquiry.Type</td>
                    <td>@inquiry.Details</td>
                    <td>
                        <a asp-controller="User" asp-action="ViewOne" asp-route-id="@inquiry.Id" class="btn btn-outline-primary">View</a>
                        @if (inquiry.Status == "Unresolved")
                        {
                            <a asp-controller="User" asp-action="Resolve" asp-route-id="@inquiry.Id" class="btn btn-outline-success">Resolve</a>
                        }
                        else
                        {
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@inquiry.Id" class="btn btn-outline-danger">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="no-results">
        <h2>You have no inquiries at this time</h2>
    </div>
}
